# .gitignore
# Python
__pycache__/
*.pyc
*.sqlite3
.Python/
venv/
env/
*.env
.vscode/

# Django
*.log
*.pot
*.mo
local_settings.py
media/

# Operating System Files
.DS_Store
Thumbs.db

# Docker specific
*.env