<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treevaq - รักโลก</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Treevaq</h1>
        <p>ต้นไม้ คุณค่า อากาศ คุณภาพ</p>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Treevaq - ช่วยโลกไปด้วยกัน</p>
    </footer>
</body>
</html>